<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>Todo list with composition API</title>
</head>
<body>
    <div id="app" class="container">
        <h1>Todo List</h1>
        <div class="add">
            <input type="text" v-model="todo" class="txt" placeholder="新增待辦事項"
            id="newTodo">
          <button class="btn" type="button" id="add" @click="add">
            <i class="fas fa-plus"></i>
          </button>
        </div>
        <div class="list">
            <div class="filter">
                <button type="button" class="page active" @click="visibility = 'all'">全部</button>
                <button type="button" class="page" @click="visibility = 'active'">待完成</button>
                <button type="button" class="page" @click="visibility = 'completed'">已完成</button>
              </div>
            <ul class="todos" id="todoList">
                <li v-for="todo in todoList" :key="todo.id" class="todo">
                    <input :id="todo.id" type="checkbox" class="checkbox" @click="" :checked="todo.completed">
                    <label :for="todo.id" :class="todo.completed ? 'completed': ''" @click="updateStatus"></label>
                    <span>{{todo.text}}</span>
                    <button type="button" class="delete" @click="remove(todo)">
                        <i class="fas fa-times"></i>
                    </button>
                </li>
            </ul>
            <div class="bottom">
                <span class="count">有 <span id="task">{{ todoList.length}}</span> 筆任務</span>
                <div>
                  <a href="#" class="select" @click="clear">清除所有任務</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="module" src="script.js"></script>
</body>
</html>